/* Constants */
:root {
  /* Font Colors */
  --frewBlack:  #000011;
  --frewWhite:  #FFFFFF;
  --frewGold:   #ffDD66;
  --frewPurple: #BB77DD;
  --frewBlue:   #55CCFF;


  /* Font Sizes */
  --xExtraLarge: 12rem;
  --extraLarge: 8rem;
  --large: 6rem;
  --medium: 2.5rem;
  --subMedium: 2rem;
  --small: 1.5rem;
}


/* Fonts */

@font-face {
  font-family: 'Barlow-Bold';
  src: url('/fonts/Barlow-Bold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia';
  src: url('/fonts/SofiaSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Standard styles */

* {
  text-align: center;
  box-sizing: border-box;
}

html {
  background-color: var(--frewBlack);
  color: var(--frewWhite);
  font-family: 'Sofia', sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 140ch;
  padding: 1rem;
  line-height: 1.2;
}


p  {
  text-align: left;
  font-size: var(--small);
}

img {
  max-width: 500px
}

/* Hero Styles */

.hero {
  margin: 1rem 0;
  text-align: center;
  font-size: var(--medium)
}

.hero-box {
  margin: var(--large) 0;
}

.hero-title {
  font-family: 'Barlow-Bold';
  color: var(--frewBlue);

  margin: 1rem 0;
  font-size: 12rem;
}

.fa-solid {
  text-align: center;
}


/* About Me Styles */


.about-me {
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.about-me * {
  margin: 1rem;
}

.subheader {
  text-align: left;
  font-family: 'Barlow-Bold';
  font-size: var(--medium)
}


/* Levels of resizing */

@media screen and (max-width: 1250px) {
  .hero-title { font-size: 8rem; }
}

@media screen and (max-width: 850px) {
  .hero-title { font-size: 6rem; }
  .about-me { flex-direction: column; align-items: center; }
}

@media screen and (max-width: 650px) {
  .hero-title { font-size: 4rem; }
  .hero-lead { font-size: 1.5rem; }
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}



@media screen and (min-width: 600px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}