/* #region Constants */

:root {
  /* Font Colors */
  --frewBlack:  #000011;
  --frewWhite:  #FFFFFF;
  --frewGold:   #ffDD66;
  --frewPurple: #BB77DD;
  --frewBlue:   #55CCFF;


  /* Font Sizes */
  --xExtraLarge: 12rem;
  --extraLarge: 8rem;
  --large: 6rem;
  --subLarge: 4rem;
  --medium: 2.5rem;
  --subMedium: 2rem;
  --small: 1.5rem;
  --tiny: 1rem;

  /* Spacing */
  --largeSpace: 15rem;
  --smallSpace: 3rem;
  --tinySpace: 0.5rem;

  /* Lines */
  --mediumLine: 0.35rem;
}

/* #endregion */

/* #region Fonts */

@font-face {
  font-family: 'Barlow-Bold';
  src: url('/fonts/Barlow-Bold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia';
  src: url('/fonts/SofiaSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* #endregion */

/* #region Core styles */

* {
  text-align: center;
  box-sizing: border-box;
}

html {
  background-color: var(--frewBlack);
  color: var(--frewWhite);
  font-family: 'Sofia', sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 140ch;
  padding: 1rem;
  line-height: 1.2;
}

h1, h2, h3, p {
  margin: 0;
}

h2 {
  font-family: 'Barlow-Bold';
  font-size: var(--subLarge);
}

p  {
  text-align: left;
  font-size: var(--small);
}

button {
  border: var(--mediumLine) solid var(--frewWhite);

  background-color: transparent;
  color: var(--frewWhite);

  box-shadow: none;
  outline:none;

  transition: color 150ms ease, 
              transform 150ms ease;

  font-size: var(--small);
  font-family: "Barlow-Bold"
}

button:active {
  transform: scale(0.95);
}

button:hover {
  border-color: var(--frewGold);
  color: var(--frewGold);
}

.grid {
  display: grid;
  row-gap: var(--largeSpace)
}

/* #endregion */

/* #region Hero */

.hero-lead {
  font-size: var(--medium)
}

.hero-title {
  font-family: 'Barlow-Bold';
  color: var(--frewBlue);
  font-size: var(--xExtraLarge);
}

.hero-icon {
  grid-row: 3;
  margin: 1rem 0;

  font-size: var(--medium)
}

/* #endregion */

/* #region About Me */

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: var(--smallSpace);
}

.about-img {
  grid-column: 1;
  
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-content {
  display: grid;
  grid-template-rows: auto auto 6rem;
  row-gap: var(--smallSpace);
}

.about-header {
  grid-row: 1;

  text-align: left;
  color: var(--frewGold);
}

.about-bio {
  grid-row: 2;
}

/* #endregion */

/* #region Skills */

.skills {
  display: grid;
  row-gap: var(--smallSpace);
}

.skills-header {
  color: var(--frewPurple);
}

.skills-timer {
  font-size: var(--medium);
}

.skills-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  row-gap: var(--smallSpace);
}

.skills-skill {
  display: grid;
  grid-template-rows: auto, auto, auto;
  row-gap: var(--tinySpace);

  transition: color 150ms ease;
}


.skills-skill:hover {
  border-color: var(--frewPurple);
  color: var(--frewPurple);
}

.skills-icon {
  grid-row: 1;
  margin: 0;
  padding: 0;

  font-size: var(--large);
}

.skills-name {
  grid-row: 2;

  font-size: var(--medium);
  text-align: center;
}

.skills-level {
  grid-row: 3;
}

.skills-star {
  font-size: var(--tiny);
  color: var(--frewPurple);

  transition: color 150ms ease;
}

.skills-star:hover {
  color:var(--frewWhite);
}

/* endregion */

/* #region Media Compatibility */

@media screen and (max-width: 1250px) {
  .hero-title { font-size: var(--extraLarge); }
}

@media screen and (max-width: 850px) {
  .hero-title { font-size: var(--large); }

  .skills-timer { font-size: var(--subMedium); }
  .skills-icon { font-size: var(--subLarge); }
  .skills-name { font-size: var(--small); }
}

@media screen and (max-width: 650px) {
  h2 { font-size: var(--medium)}

  .hero-title { font-size: var(--subLarge); }
  .hero-lead { font-size: var(--small); }

}

/* #endregion */


/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}



@media screen and (min-width: 600px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}