/* #region Constants */

:root {
  /* Font Colors */
  --frewBlack:  #000011;
  --frewWhite:  #FFFFFF;
  --frewGold:   #ffDD66;
  --frewPurple: #BB77DD;
  --frewBlue:   #55CCFF;


  /* Font Sizes */
  --xExtraLarge: 12rem;
  --extraLarge: 8rem;
  --large: 6rem;
  --subLarge: 4rem;
  --medium: 2.5rem;
  --subMedium: 2rem;
  --small: 1.5rem;
  --subSmall: 1.3rem;
  --tiny: 1rem;

  /* Spacing */
  --largeSpace: 10rem;
  --mediumSpace: 6rem;
  --smallSpace: 3rem;
  --tinySpace: 0.5rem;

  /* Lines */
  --mediumLine: 0.35rem;
}

/* #endregion */

/* #region Fonts */

@font-face {
  font-family: 'Barlow-Bold';
  src: url('/fonts/Barlow-Bold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia';
  src: url('/fonts/SofiaSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* #endregion */

/* #region Core styles */

* {
  text-align: center;
  box-sizing: border-box;
}

html {
  background-color: var(--frewBlack);
  color: var(--frewWhite);
  font-family: 'Sofia', sans-serif;

  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 140ch;
  padding:  var(--smallSpace);
  line-height: 1.2;

  /* Unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -user-select: none;
}

h1, h2, h3, p {
  margin: 0;
}

button {
  text-transform: uppercase;
  border: var(--mediumLine) solid var(--frewWhite);

  height: 6rem;
  width: 100%;

  background-color: transparent;
  color: var(--frewWhite);

  box-shadow: none;
  outline:none;

  transition: color 150ms ease, border-color 150ms ease, transform 150ms ease;

  font-size: var(--small);
  font-family: "Barlow-Bold"
}

button:active {
  transform: scale(0.95);
}

button.link:hover {
  cursor: pointer;
}

a {
  transition: color 150ms ease, 
}

a:hover {
  color: var(--frewWhite);
}

.grid {
  display: grid;
  row-gap: var(--largeSpace)
}

.header {
  font-family: 'Barlow-Bold';
  font-size: var(--subLarge);
}

.subheader {
  text-transform: uppercase;
  text-align: left;

  font-family: 'Barlow-Bold';
  font-size: var(--medium);
}

.blurb {
  text-align: justify;
  font-size: var(--subMedium)
}

.body-text {
  text-align: justify;
  font-size: var(--small);
}

.body-header {
  text-align: justify;
  text-transform: uppercase;
  font-family: 'Barlow-Bold';
  font-size: var(--small);
}

input, textarea {
  text-align: justify;
  font-family: 'Sofia', sans-serif;
  font-size: var(--small);

  border: 0;
  opacity: 0.8;

  transition: opacity 150ms ease;
  resize: none;

  width:100%;
  box-sizing: border-box;

  padding: 10px;
}


input.gold, textarea.gold {
  background-color: var(--frewGold);
  color: var(--frewBlack);
}

input:focus, textarea:focus{
  outline: none;
  opacity: 1;
}

input:hover, textarea:hover {
  opacity: 1;
}

/* #endregion */

/* #region Color Mappings */

.blue {
  color: var(--frewBlue);
}

button.blue {
  color: var(--frewWhite);
}

button:hover.blue {
  border-color: var(--frewBlue);
  color: var(--frewBlue);
}

.purple {
  color: var(--frewPurple);
}

.gold {
  color: var(--frewGold);
}

button.gold {
  color: var(--frewWhite);
}

button:hover.gold {
  border-color: var(--frewGold);
  color: var(--frewGold);
}

/* #endregion */

/* #region Header */

.header-logo {
  position: fixed;
  width: 80px;

  animation: rainbow-background 6s ease-in-out infinite;
  border: var(--mediumLine) solid var(--frewWhite);

  top: 30px;
  left: 30px;

  z-index: 100;
}


@keyframes rainbow-background {
  0%,100% {
    background-color: var(--frewPurple);
  }

  50% {
    background-color: var(--frewBlue);
  }
}

/* #endregion */

/* #region Hero */

.hero-lead {
  font-size: var(--medium)
}

.hero-title {
  font-family: 'Barlow-Bold';
  color: var(--frewBlue);
  font-size: var(--xExtraLarge);
  
  background-image: linear-gradient(to right, var(--frewPurple), var(--frewBlue), var(--frewPurple)); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 6s ease-in-out infinite;
  background-size: 500% 100%;
}

@keyframes rainbow-animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

.hero-icon {
  margin: 1rem 0;

  font-size: var(--medium)
}

/* #endregion */

/* #region About Me */

.about {
  display: grid;
  grid-auto-flow: column;

  row-gap: var(--smallSpace);
  column-gap: var(--smallSpace);
}

.about-img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: auto;
  align-self: center;
  object-fit: cover;
}

.about-content {
  display: grid;
  grid-template-rows: auto auto auto auto 6rem;
  row-gap: var(--smallSpace);
}


/* #endregion */

/* #region Skills */

.skills {
  display: grid;
  row-gap: var(--smallSpace);
}

.skills-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  row-gap: var(--smallSpace);
}

.skills-skill {
  display: grid;
  grid-template-rows: auto, auto, auto;
  row-gap: var(--tinySpace);

  transition: color 150ms ease;
}


.skills-skill:hover {
  border-color: var(--frewPurple);
  color: var(--frewPurple);
}

.skills-icon {
  margin: 0;
  padding: 0;

  font-size: var(--large);
}

.skills-name {
  font-size: var(--medium);
  text-align: center;
}

.skills-star {
  font-size: var(--tiny);
  color: var(--frewPurple);

  transition: color 150ms ease;
}

.skills-star:hover {
  color:var(--frewWhite);
}

/* #endregion */

/* #region Projects */

.projects {
  display: grid;
  row-gap: var(--smallSpace);
}

.projects-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  row-gap: var(--smallSpace);
  column-gap: var(--smallSpace);
}

.project-img {
  width: 100%;
  height: 100%;
  margin: auto;
  align-self: center;
  object-fit: cover;
}

.project-content {
  display: grid;
  grid-template-rows: auto auto 6rem;
  row-gap: var(--smallSpace);
}

.project-skill {
  vertical-align: center;
  font-size: var(--subMedium);
}

/* #endregion */

/* #region Contact */

.contact {
  display: grid;
  row-gap: var(--smallSpace);
}

.contact-form {
  display: grid;
  grid-template-rows: auto auto 20rem 6rem;
  row-gap: var(--smallSpace);
}

.contact-topline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--smallSpace);
  grid-auto-flow: column;
}

.contact-stack {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: var(--tinySpace);
}


/* #endregion */

/* #region Thank You */

.thank-you {
  display: grid;
  row-gap: var(--smallSpace);
}

/* #region Media Compatibility */

@media screen and (max-width: 1300px) {
  /* Hero */
  .hero-title { font-size: var(--extraLarge); }

  /* Imagery */
  .about-img { width : 700px; }
  .project-img { width: 700px; }

  .projects-project { grid-template-columns: none; grid-auto-flow: row; }
  .about { grid-auto-flow: row; }
}

@media screen and (max-width: 900px) {
  .header-logo { width: 50px; }

  /* Hero */
  .hero-title { font-size: var(--large); }

  /* Imagery */
  .about-img { width : 500px; }
  .project-img { width: 500px; }

  /* Skills */
  .blurb { font-size: var(--small); }

  .skills-icon { font-size: var(--subLarge); }
  .skills-name { font-size: var(--small); }
}

@media screen and (max-width: 700px) {
  /* Hero */
  .hero-title { font-size: var(--subLarge); }
  .hero-lead { font-size: var(--small); }

  /* Imagery */
  .about-img { width : 300px; }
  .project-img { width: 300px; }

  /* Core */
  .header { font-size: var(--medium)}
  .body-text { font-size: var(--subSmall); }
}

/* #endregion */