---
import BaseLayout from '../layouts/BaseLayout.astro';
import TimeSince from '../components/TimeSince.astro';
import Skill from '../components/Skill.astro';
---
<BaseLayout>
	<div class = 'grid'>
		<div> <!-- Empty Space --> </div>
		<div class = 'hero'>
			<h2 class = 'hero-lead'>Is it a bird? Is it a plane? No, it's</h2>
			<h1 class = 'hero-title'>Thomas Frew</h1>	
			<div class = 'hero-icon fa-solid fa-code'></div>	
		</div>

		<div class = 'about'>
			<img class='about-img' src="https://i.ibb.co/NNHx2Xp/TomCodes.jpg"/>

			<div class='about-content'>
				<h2 class = 'header gold'>About Me</h2>
				<p class = 'body-text'>G'day! I'm Tom, a Computer Science undergraduate at the University of Adelaide, Australia. 
					While this course focuses on software engineering, algorithms, and CS research, I've always been passionate about programming. 
					From Blackjack to Computer Vision, Graphics Calculators and Learning Databases, there's almost nothing I haven't built!</p> 
				<p class = 'body-text'>Outside of personal projects, you can catch me competing in Hackathons and teaching coding under <a class = 'gold' href="https://leetcode.com/CanDoFrew/">@CanDoFrew</a>.
					Otherwise, I'll be doodling, baking or hitting the gym!</p>
				<p class = 'body-text'>If you like what you see, check out my resume below! 
					Even after <TimeSince/> seconds as a programmer, I love it more than ever.</p>
				<button type="button">SHOW ME THIS GUY'S SKILLS</button> 
			</div>
		</div>

		<div class = 'skills'>
			<h2 class = 'header purple'>Languages</h2>
			<div class = 'skills-list'>
				<Skill name='C++' icon='devicon-cplusplus-plain' level='5'/>
				<Skill name='Javascript' icon='devicon-javascript-plain' level='3'/>
				<Skill name='C#' icon='devicon-csharp-plain' level='4'/>
				<Skill name='HTML' icon='devicon-html5-plain' level='3'/>
				<Skill name='Python' icon='devicon-python-plain' level='4'/>
				<Skill name='CSS' icon='devicon-css3-plain' level='3'/>
			</div>
		</div>

		<div class = 'projects'>
			<h2 class = 'header blue'>Projects</h2>
			<p class='blurb'>This section is in progress! Stay tuned!</p>
		</div>

		<div> <!-- Empty Space --> </div>
	</div>
	
</BaseLayout>