---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const pageTitle = "Projects"

const dateOne = new Date('07/21/2013');
const dateTwo = new Date();

const milliseconds = dateTwo.getTime() - dateOne.getTime(); 
const minutes = Math.ceil(milliseconds/60000);
const hours = Math.ceil(minutes/60);
const days = Math.ceil(hours/24);
const years = Math.ceil(days/365.25);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <Header/>

		<h1>{pageTitle}</h1>
		<p>Proud programmer for {years} years, {days%365} days, {hours%24} hours and {minutes%60} minutes.</p>

		<Footer/>
	</body>
</html>
