---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<div class = 'thank-you'>
		<h2 class = 'header gold'>Thank You</h2>
		<p class = 'blurb'>Your email was sent successfully. I'll be in touch soon, but for now, have a wonderful day!</p>
		<button class = 'gold' type="button" onclick="window.location.href='/'">TAKE ME BACK</button> 
	</div>
	
</BaseLayout>